* {
  margin: 0;
  padding: 0;
  box-sizing:content-box;
  background-color: #FFFFFF;
  /* background-color: #C1C0AC; */

  font-family: 'Noto Sans', sans-serif; 
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

/*apply style to header/nav*/
header {
  background-color: #FFFFFF;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
}

header a {
  color: black;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
}

header nav {
  margin: 5px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

header nav ul li a {
  padding: 0 30px;
}

/*home/hero section */
.home {
  /* background-color: #526761; */
  /* background-image: url(./images/home-background.PNG); */

  background-color: #FFFFFF;
  background-size: auto;
  background-position: right;
  background-repeat: no-repeat;
  color: #526761;
  font-family: 'Noto Sans', sans-serif;
  padding: 150px 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home h1 {
  font-size: 98px;
  /* margin: 0 95px; */
  flex: 1 75%;
  padding-bottom: 5px;
}

p {
  font-family: 'Montserrat', sans-serif;

}

.workDescription, li {
  font-family: 'Montserrat', sans-serif;
}

#my-work {
  margin-bottom: 5%;
}


.home p {
  font-size: 40px;
  margin: 0 13%;
  padding-bottom: 25px;
  flex: 1;
  font-weight: lighter;
}

ul {
  list-style: none
}

.list::before {
  /* content: "○"; */
  /* content: "▹"; */
  content: "▸";
  padding: 2px;
  /* color: #99B0A9; */
  color: #99B0A9;
  margin-right: 15px;
}
/* add style to about me section */
.bio {
  width: 65%;
  margin: 50px auto;
  padding-top: 65px;
  padding-bottom: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.bio-img img {
  width: 100%;
  padding-right: 50px;
}

.bio-text {
  width: 50%;
}

.bio-text h2 {
  font-family: 'Noto Sans', sans-serif;  
  font-size: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 5px;
  border-bottom: solid #393737 1.5px;
}

.bio p {
  padding-top: 25px;
}

/* add style to portfolio section */
.work {
  /* background-image: url(./images/project-background.png);
  background-size: contain;
  background-position: bottom;
  width: 90%;
  margin: 5% auto 0 auto;
  padding-bottom: 2%;
  background-repeat: no-repeat; */
}

.container {
  width: 85%;
  margin: 0 auto 0 auto;
}

.container h2 {
  text-align: left;
  font-family: 'Noto Sans', sans-serif; 
  font-size: 60px;
  display: flex;
  padding-bottom: 10px;
  padding-left: 5px;
  border-bottom: solid #393737 1.5px;
}

/* .main {
  width: 65%;
  display: flex;
  flex-wrap: wrap;

  opacity: 0.65;
} */

.main:hover {
  border: 2px solid #393737;
  opacity: 1;
}


.work-description {
  color: black;
  font-size: 20px;
  /* padding: 20px auto; */
  width: 95%;
  text-align: right;
  font-style: italic;
  font-weight: lighter;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-bottom: 5px;
}

.second {
  width: 65%;
  /* display:flex;
	flex-wrap:wrap; */
  /* justify-content: flex-start; */
  margin-left: 45%;
  opacity: 0.65;
  margin-top: 2%;
  
}

.second-work {
  width: 65%;
}

.second:hover {
  border: 2px solid #393737;
  opacity: 1;
}

.flex-start {
  justify-content: flex-start;
}

.third {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-left: 35%;
  opacity: 0.65;
}

.third:hover {
  border: 2px solid #393737;
  opacity: 1;
}

img {
  width: 100%;
}

/* add style to contact section */
#contact {
  background-color: #E5E5DD;
  padding: 30px;
  width: 100%;
}

.contact-info container {
  background-color: #E5E5DD;
}

.contact-info {
  background-color: #E5E5DD;

  padding: 10px 200px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}

.contact-info img {
  display: flex;
  background-color: #E5E5DD;

}

#contact h2 {
  background-color: #E5E5DD;

  color: BLACK;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;   font-size: 45px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-left: 5px;
}

.contact-info ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  
}

.contact-list {
  background-color: #E5E5DD;
  width: 50px;
  height: 50px;

}  

svg{
  width: 50px;
  height: 50px;
}


#svg-linkedin:hover, #svg-github:hover{
  stroke: #99B0A9;
  transform: translateY(-3px);
}

#svg-email:hover{
  fill: #99B0A9;
  transform: translateY(-3px);
}